<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Note</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>
<body>
<div id="wrapper">
<h1>Detail Note</h1>
<p>
    <a th:href="@{/}">Back to list note</a>
</p>
    <hr>
<form th:action="@{/detail-note}" th:object="${note}">
    <h2>Note</h2>
    <label>Title</label>
    <p th:text="*{title}"></p>
    <label>Content</label>
    <p th:text="*{content}"></p>
    <button><a th:href="@{/edit-note/__${note.id}__}">Edit</a></button>
    <button><a th:href="@{/delete-note/__${note.id}__}">Delete</a></button>
</form>
</div>
</body>
</html>